<div class="container">
  <p-card>
    <ng-template pTemplate="title">
      <div class="title">Formulario de Contacto</div>
    </ng-template>
    <form [formGroup]="form" (ngSubmit)="submit()" class="form p-fluid" novalidate>
      <div class="p-formgrid grid">
        <!-- Full Name -->
        <div class="p-field field col-12 md:col-6">
          <label for="fullName">Nombre Completo</label>
          <input id="fullName" type="text" pInputText formControlName="fullName" />
          @if (form.get('fullName')?.touched && form.get('fullName')?.hasError('required')) {
            <small class="p-error">Name is required</small>
          }
          @if (form.get('fullName')?.touched && form.get('fullName')?.hasError('minlength')) {
            <small class="p-error">Minimum 3 characters</small>
          }
          @if (form.get('fullName')?.touched && form.get('fullName')?.hasError('noEmoji')) {
            <small class="p-error">Emojis are not allowed in the name</small>
          }
        </div>

        <!-- Email -->
        <div class="p-field field col-12 md:col-6">
          <label for="email">Email</label>
          <input id="email" type="email" pInputText formControlName="email" />
          @if (form.get('email')?.touched && form.get('email')?.hasError('required')) {
            <small class="p-error">Email is required</small>
          }
          @if (form.get('email')?.touched && form.get('email')?.hasError('email')) {
            <small class="p-error">Enter a valid email</small>
          }
        </div>

        <!-- Country -->
        <div class="p-field field col-12 md:col-6">
          <label for="motivo">Motivo de consulta</label>
          <p-select inputId="motivo" [options]="motivos" formControlName="motivo" optionLabel="label"></p-select>
          @if (form.get('motivo')?.touched && form.get('motivo')?.hasError('required')) {
            <small class="p-error">Motivo is required</small>
          }
        </div>

        <div class="p-field field col-12 md:col-6">
          <label for="estudiante">Estudiante elegido</label>
          <p-select inputId="estudiante" [options]="estudiantes" formControlName="estudiante" optionLabel="label"></p-select>
          @if (form.get('estudiante')?.touched && form.get('estudiante')?.hasError('required')) {
            <small class="p-error">Estudiante elegido es requerido</small>
          }
        </div>

        <!-- Agree -->
        <div class="p-field field col-12">
          <div class="flex align-items-center">
            <p-checkbox inputId="agree" formControlName="agree" binary="true"></p-checkbox>
            <label for="agree" class="ml-2">I agree to the terms</label>
          </div>
          @if (form.get('agree')?.touched && form.get('agree')?.hasError('requiredTrue')) {
            <small class="p-error">You must agree before submitting</small>
          }
        </div>
      </div>
      <p-button type="submit" label="Submit" icon="pi pi-save" [disabled]="form.invalid"></p-button>
    </form>
  </p-card>
</div>
