/* :host asegura que estas reglas solo se apliquen 
 a los elementos dentro de *este* componente.
*/
:host {
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: var(--shadow-1);
  }

  /* Usamos ::ng-deep para forzar los estilos 
   dentro de los componentes de PrimeNG.
  */

  /* 1. Estilos de la Tarjeta (p-card) */
  ::ng-deep .p-card {
    /* p-card-body es el contenedor principal de la tarjeta */
    .p-card-body,
    .p-card-content {
      background-color: whitesmoke;
      border-radius: var(
        --radius
      ); /* Asegurarse de que el interior también sea redondeado */
    }

    .p-card-title .title {
      color: #212529; /* Texto oscuro para el título */
      text-align: center;
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  }

  /* 2. Estilos del Formulario */
  .form {
    margin-top: 1.5rem;
  }

  .field {
    margin-bottom: 1.5rem;
  }

  /* 3. Estilos de Labels y Texto */
  ::ng-deep .field label,
  ::ng-deep .ml-2 {
    color: #343a40; /* Texto oscuro para los labels */
    font-weight: 600;
  }

  /* 4. Estilos del Botón (p-button) */
  /* Note que apuntamos a .p-button, que es la clase 
   que el componente <p-button> genera.
  */
  ::ng-deep .p-button {
    background-color: #0044ff; /* Un color verde (como en su imagen) */
    color: white; /* Texto blanco para el botón */
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: var(--radius);
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    margin: 0 auto;
  }

  ::ng-deep .p-button:hover {
    background-color: rgb(24, 4, 129); /* Verde más oscuro al pasar el mouse */
  }

  /* 5. Estilos de los Inputs (p-select, pInputText) */
  ::ng-deep .p-inputtext,
  ::ng-deep .p-select, 
  ::ng-deep .p-checkbox{
    background: #ffffff;
    color: #495057;
    border: 1px solid #ced4da;
  }

  /* 6. Estilos del Error */
  small.p-error {
    display: block;
    margin-top: 0.25rem;
    color: #ef4444;
  }
}